<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>AssessMe</title>
	<!-- font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

	<!-- styles -->
	<link rel="stylesheet" href="css/reg.css" />
</head>

<body>

	<div class="title">
		<h2 class="makequiztitle">Make a quiz</h2>
	</div>
	<div class="reg_page">
		<div class="form">
			<form action="/getquiz" class="reg_form" method="POST">
				<input type="text" value="" name="quizname" placeholder="Quiz Name">
				<br>
				<br>
				<input type="text" value="" name="creator" placeholder="Quiz Creator">
				<br>
				<br>
				<input id="submit" class="newquiz" type="submit" value="Search Quiz">
		</div>
	</div>


</body>

</html>